@font-face {
	font-family: 'maria_proregular';
    src: url('/assets/fonts/maria-webfont.woff') format('woff');
}

@font-face {
    font-family: 'times_new_romanregular';
    src: url('/assets/fonts/times_new_roman-webfont.woff') format('woff');
}

@font-face {
    font-family: 'times_new_romanbold_italic';
    src: url('/assets/fonts/times_new_roman_bold_italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'times_new_romanitalic';
    src: url('/assets/fonts/times_new_roman_italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'times_new_romanbold';
    src: url('/assets/fonts/times_new_roman_bold-webfont.woff') format('woff');
}