.project {
	padding: 16px;
	@include media-query(tabl-and-up) {
		padding: 32px;
	}
	@include media-query(desk-wide) {
		padding: 64px;
	}
	// max-width: 1680px;
	// margin: 0 auto;

	@include e(header) {
		margin-bottom: 1rem;
		border-bottom: 1px solid $black;
		overflow: hidden;
		@include media-query(tabl-and-up) {
			margin-bottom: 3%;
		}

		@include m(meta) {
			@include m(title) {
				margin-bottom: .5rem;
				@include media-query(tabl-and-up) {
					margin-bottom: 1rem;
				}
				@include media-query(desk) {
					margin-bottom: 1.4rem;
				}
			}
			@include m(date) {
				color: $black;
			}
			@include m(category) {}
			@include m(client) {
				color: $black;
				margin-bottom: 0;
				&:before {
					content: "MUT for ";
					font-family: $maria;
				}
			}

			@include media-query(desk) {
				width: 50%;
				float: left;
			}
		}

		@include m(intro) {
			color: $black;
			margin: .5rem 0 2rem 0;

			@include media-query(tabl-and-up) {
				margin: 1rem 0 6% 0;
			}

			@include media-query(desk) {
				width: 50%;
				float: left;
				padding-left: .5rem;
				box-sizing: border-box;
			}
		}
	}
}

.project {
	@include e(article) {
		text-align: justify;
		&:after {
			content: " ";
			display: inline-block;
			width: 100%; 
			height: 0;
		}

		@include m(image) {
			@include m(full) {
				width: 100%;
				margin-bottom: 1rem;
			}
			@include m(half) {
				width: 100%;
				margin-bottom: 1rem;
				@include media-query(tabl-and-up) {
					display: inline-block;
					width: calc(50% - .5rem);
					margin: 0 0 1rem 0;
					overflow: hidden;
				}
			}
		}
	}
}