.slider {
	position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; /* height of thumbs (if not required set to 0) */
    height: auto; // optionally add !important for WP version
    width: auto;
}

.slider__close {
	position: absolute;
	z-index: 1;
}

.full {
	height: auto!important;
	width: auto!important;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: relative;
	margin: 0!important;

	min-width: 100%;
  	min-height: 100%;
}

.overtext {
	position: absolute;
 	top: 50%;
 	left: 50%;
	transform: translate(-50%, -50%);
}

.figure {
	width: 100%;
	height: 100%;
}