// Breakpoints
$tabl-start:        481px;
$lap-start:         768px;
$desk-start:        1200px;
$desk-wide-start:   1680px;

$palm-end:     $tabl-start - 1px;
$tabl-end:     $lap-start - 1px;
$lap-end:      $desk-start;

// Colors
$black: #000;
$white: #fff;
$heading: #222;
$type: #444;

// Typogrpahy
$maria: 'maria_proregular';
$times: 'times_new_romanregular'