# Ignore Kirby specific files
site/accounts
thumbs

# Ignore junk files
.DS_Store
.sass-cache
site/cache/*

# Ignore node_modules
node_modules

# Ignore huge files, content is just used as placeholder. Not vital.
*.mov
*.mp4

# Ignore webfonts until you find a better method
*.woff