// Breakpoints
$tabl-start:        481px;
$lap-start:         768px;
$desk-start:        1024px;
$desk-wide-start:   1680px;

$palm-end:     $tabl-start - 1px;
$tabl-end:     $lap-start - 1px;
$lap-end:      $desk-start;

// Colors
$rich-black: #000;
$black: #222;
$white: #fff;
$grey: #aaa;
$blue: #0a189c;

// Typogrpahy
$maria: 'maria_proregular';
$times: 'leitura-news';