// Breakpoints
$tabl-start:        481px;
$lap-start:         768px;
$desk-start:        1024px;
$desk-wide-start:   1680px;

$palm-end:     $tabl-start - 1px;
$tabl-end:     $lap-start - 1px;
$lap-end:      $desk-start;

// Colors
$black: #222;
$white: #fff;
$grey: #666;
$grey-dark: #2f2f2f;
$grey-light: #b4b4b4;

// Typogrpahy
$maria: 'maria_proregular';
$times: 'Times', 'Times New Roman', serif;

// Transition
$bezier: cubic-bezier(.55, 0, .1, 1);