.about {
	position: absolute;
	top: 0;
	left: -100%;
	z-index: 9;
	padding: 1.4rem 1rem 3rem 1rem;
	box-sizing: border-box;
	width: 100%;
	color: $white;
	background-color: $grey-dark;
	@include font-smooth;
	transition: left 0.5s $bezier;

	&.visible {
		left: 0;
	}

	@include mq(tabl-and-up) {
		padding: 2rem 5% 3rem 5%;
	}

	@include mq(lap-and-up) {
		width: 90%;
	}
	@include mq(desk) {
		width: 80%;
	}
	@include mq(desk-wide) {
		width: 70%;
	}
}

.about__wrapper {
	max-width: 900px;
}

.about__headline {
	font-size: .9em;
	margin-bottom: 2em;
	line-height: 1.4;

	@include mq(tabl-and-up) {
		visibility: hidden;
	}
}

.about {
	@include e(images) {
		position: relative;
		overflow: hidden;
	}
}

.about {
	@include e(images) {
		@include m(top){
			position: absolute;
		}
	}
}

.about {
	@include e(image){
		width: 50%;
		float: left;

		@include m(top) {
			&:hover {
				opacity: 0;
			}
		}
	}
}

.about__columns {
	@include mq(lap-and-up) {
		display: flex;
		justify-content: space-between;
	}
}

.about__column {
	@include mq(lap-and-up) {
		width: 46%;
	}
}

.about__content {
	margin-bottom: 2em;

	@include mq(lap-and-up) {
		margin-bottom: 3em;
	}

	p, span, li {
		font-family: $times;
		line-height: 1.3;
		em {
			font-family: $times;
		}
		@include mq(lap-and-up) {
			font-size: 1.25em;
		}
	}
	h4 {
		font-size: .8em;
		margin-bottom: .5em;
		@include mq(lap-and-up) {
			font-size: 1em;
		}
	}
	a {
		text-decoration: none;
		color: $white;
		font-family: $times;
		line-height: 1.4;
	}
}

.about__text > p {
	margin-bottom: 2em;
	font-size: 1.15em;
	line-height: 1.4;

	@include mq(tabl) {
		font-size: 1.25em;
	}
	@include mq(lap) {
		font-size: 1.5em;
	}
	@include mq(desk) {
		font-size: 1.8em;
	}
	@include mq(desk-wide) {
		font-size: 2.2em;
	}
}

.about__images--caption {
	margin: 1em 0 2em 0;
	font-size: .8em;
	text-align: center;
	@include mq(lap-and-up) {
		margin-bottom: 3em;
	}
}

.about__contacts {
	margin-bottom: 2em;
	@include mq(lap-and-up) {
		margin-bottom: 3em;
	}

	p {
		font-size: 1.25em;
		line-height: 1.2;
		@include mq(lap) {
			font-size: 1.5em;
		}
		@include mq(desk) {
			font-size: 1.8em;
		}
		@include mq(desk-wide) {
			font-size: 2.2em;
		}
	}
}

.about__interships > p > a, 
.about__info > p > a {
	border-bottom: 1px solid $white;
}

.about__newsletter > p {
	margin-bottom: .5em;
}

.email {
	padding: .4rem;
	background-color: transparent;
	border: none;
	box-shadow: inset 0px -1px 0px 0px $white;
	font-family: $times;
	font-size: 1em;
	color: $white;
	transition: box-shadow .2s ease-in-out;

	&:focus {
		outline: 0;
		color: $black;
		box-shadow: inset 0px -50px 0px 0px $white;
	}
}

.email-button {
	margin-left: .5em;
	padding: .5rem;
	background-color: $grey-dark;
	color: $white;
	border: 1px solid $white;
	cursor: pointer;
	&:focus {
		outline: 0;
	}
}

.mce_inline_error {
	background-color: transparent!important;
	padding: .4rem!important;
	font-family: $times;
	font-weight: normal!important;

	&:before {
		content: "â˜";
		font-size: .8em;
		margin-right: .4rem;
		margin-left: -.4rem;
	}
}

.response {
	margin-top: .5rem;
	font-family: $times;
	line-height: 1.4;
}

.response > a {
	border-bottom: 1px solid $white;
}