.about {
	position: absolute;
	left: -100%;
	z-index: 9;
	padding-top: 2rem;

	width: 100%;
	// width: 90%;

	color: $white;
	background-color: $grey-dark;

	&.visible {
		left: 0;
	}
}

.about {
	@include e(images){
		overflow: hidden;

		@include m(top){
			position: absolute;
		}
	}
}

.about {
	@include e(image){
		width: 50%;
		float: left;

		@include m(top) {
			&:hover {
				opacity: 0;
			}
		}
	}
}