.about {
	@include e(wrapper) {
		@extend %wrapper;
	}
}

.about {
	@include e(intro) {
		background-color: $red;
		p {
			margin-bottom: 4%;
			color: $white;
			line-height: 1.4;
			@include font-smooth();
		}

		figure {
			img {
				width: 100%;
			}
			padding: 0 15%;
		}

		padding: 15% 3% 0 3%;
		@include media-query(tabl) {
			padding: 10% 5% 0 5%;
		}
		@include media-query(lap-and-up) {
			padding: 10% 7% 0 7%;
		}
	}
}

.about {
	@include e(more) {
		background-color: $blue;
		padding: 0 3% 0 3%;
		overflow: hidden;
		@include media-query(tabl) {
			padding: 0 5% 0 5%;
		}
		@include media-query(lap-and-up) {
			padding: 0 7% 0 7%;
		}

		span, h1, h2, h3, h4 {
			color: $white;
			@include font-smooth();
		}

		p {
			color: $white;
			line-height: 1.4;
			@include font-smooth();
		}

		ul > li > a {
			@include font-smooth();
		}

		h4 {
			font-size: medium;
		}
	}
}

.about {
	@include e(more) {
		@include m(designers) {
			padding-top: .5rem;
			text-align: center;
			font-size: medium;

			div {
				&:first-of-type {
					margin-bottom: .25rem;
					span {
						&:first-of-type {
							margin-right: .3rem;
						}
						&:last-of-type {
							font-family: $maria;
						}
					}
					@include media-query(tabl-and-up) {
						display: inline-block;
						margin-right: 1rem;
						margin-bottom: 0;
					}
				}
				&:last-of-type{
					span {
						&:first-of-type {
							margin-right: .3rem;
						}
						&:last-of-type {
							font-family: $maria;
						}
					}
					@include media-query(tabl-and-up) {
						display: inline-block;
						margin-left: 1rem;
					}
				}
			}
		}
	}
}

.about {
	@include e(more) {
		@include m(address) {
			margin: 3rem 0;
			@include media-query(tabl) {
				margin: 3rem 0 10% 0;
			}
			@include media-query(lap-and-up) {
				margin: 5% 0 10% 0;
			}

			p {
				margin-bottom: .25rem;
				@include media-query(tabl-and-up) {
					margin-bottom: .35rem;
				}
			}

			a {
				color: $white;
				text-decoration: none;
				border-bottom: 1px solid $white;
				-webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
			}
		}
	}
}

.about {
	@include e(more) {
		@include m(col) {
			@include media-query(tabl) {
				div {
					ul > li, p, span {
						font-size: 1.15em;
					}
				}
			}
			@include media-query(lap-and-up) {
				width: 33%;
				float: left;
				padding-right: 1rem;
				box-sizing: border-box;
			}
			@include media-query(desk) {
				div {
					ul > li, p, span {
						font-size: 1.15em;
					}
				}
			}
			@include media-query(desk-white) {
				div {
					ul > li, p, span {
						font-size: 1.25em;
					}
				}
			}
		}
	}
}

.about {
	@include e(more) {
		@include m(clients) {
			margin-bottom: 3rem;
			h1 {
				margin-bottom: 0;
			}
			ul {
				margin: 0 0 2rem 0;
				padding: 0;
				list-style-type: none;

				&:last-of-type {
					margin-bottom: 0;
				}

				li {
					color: $white;
					margin-bottom: .25rem;
					@include font-smooth();
					a {
						color: $white;
						text-decoration: none;
						border-bottom: 1px solid $white;
						@include font-smooth();
					}
				}
			}
		}
	}
}

.about {
	@include e(more) {
		@include m(social) {
			margin-bottom: 3rem;
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;

				li {
					a {
						text-decoration: none;
						color: $white;
					}
				}
			}
		}
	}
}

.about {
	@include e(more) {
		@include m(awards) {
			margin-bottom: 3rem;
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;

				li {
					a {
						text-decoration: none;
						color: $white;
					}
				}
			}
		}
	}
}

.about {
	@include e(more) {
		@include m(talks) {
			margin-bottom: 3rem;
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;

				li {
					a {
						text-decoration: none;
						color: $white;
					}
				}
			}
		}
	}
}

.about {
	@include e(more) {
		@include m(newsletter) {
			margin-bottom: 3rem;
			p {
				a {
					color: $white;
					text-decoration: none;
					border-bottom: 1px solid $white;
				}
			}
		}
	}
}

.about {
	@include e(more) {
		@include m(info-mail) {
			margin-bottom: 3rem;
			p {
				a {
					color: $white;
					text-decoration: none;
					border-bottom: 1px solid $white;
				}
			}
		}
	}
}

.about {
	@include e(more) {
		@include m(weather) {
			margin-bottom: 3rem;
			p {
				&:first-of-type {
					display: none;
				}

				b {
					display: none;
				}

				br {
					&:nth-child(1) {
						display: none;
					}
					&:nth-child(2) {
						display: none;
					}
					&:nth-child(2) {
						display: none;
					}
				}
			}
		}
	}
}

.about {
	@include e(more) {
		@include m(time) {
			margin-bottom: 3rem;
		}
	}
}

.about {
	@include e(more) {
		@include m(warning) {
			margin-bottom: 3rem;
		}
	}
}
