.clients {
	@extend .about;
	z-index: 99;
	background-color: $grey;

	@include mq(lap-and-up) {
		width: 60%
	}
	@include mq(desk) {
		width: 50%;
	}
	@include mq(desk-wide) {
		width: 40%;
	}
}

.clients__headline {
	@extend .about__headline;
}

.clients__character {
	h3 {
		font-size: 2em;
		margin-bottom: .5rem;
		@include mq(lap-and-up) {
			font-size: 2.5em;
		}
	}
	ul {
		li {
			font-family: $times;

			&:last-child {
				margin-bottom: 2em;
			}

			@include mq(lap-and-up) {
				font-size: 1.25em;
			}
		}
	}
}