.clients {
	position: absolute;
	left: -100%;
	z-index: 99;
	padding: 4rem 1rem 1rem 1rem;
	box-sizing: border-box;
	width: 100%;
	// width: 60%;
	color: $white;
	@include font-smooth;
	background-color: $grey;
	transition: left 0.5s $bezier;

	&.visible {
		left: 0;
	}
}

.clients__character {
	margin-bottom: 2em;

	h3 {
		font-size: 2em;
		margin-bottom: .5rem;
	}
	ul li {
		font-family: $times;
	}
}