.clients {
	@extend .about;
	z-index: 99;
	background-color: $grey;

	@include mq(lap-and-up) {
		width: 60%
	}
}

.clients__headline {
	@extend .about__headline;
}

.clients__character {
	h3 {
		font-size: 2em;
		margin-bottom: .5rem;
	}
	ul {
		li {
			font-family: $times;

			&:last-child {
				margin-bottom: 2em;
			}
		}
	}
}