.contact {
	@extend .about;
	z-index: 999;
	background-color: $grey-light;

	&.visible {
		left: 0;
	}
	@include mq(lap-and-up) {
		width: 70%
	}
	@include mq(desk) {
		width: 60%;
	}
	@include mq(desk-wide) {
		width: 50%;
	}
}

.contact__headline {
	@extend .about__headline;
}

.contact__content > p {
	font-family: $times;
	font-size: 1.15em;
	line-height: 1.2;

	@include mq(tabl) {
		font-size: 1.25em;
	}
	@include mq(lap) {
		font-size: 1.5em;
	}
	@include mq(desk) {
		font-size: 1.8em;
	}
	@include mq(desk-wide) {
		font-size: 2.2em;
	}
}