.contact {
	@extend .about;
	z-index: 999;
	background-color: $grey-light;

	&.visible {
		left: 0;
	}
	@include mq(lap-and-up) {
		width: 70%
	}
}

.contact__headline {
	@extend .about__headline;
}

.contact__content > p {
	font-family: $times;
	font-size: 1.15em;
	line-height: 1.6;
}