.home {
	margin-top: 65px;
	padding: 16px;
	@include media-query(tabl-and-up) {
		padding: 32px;
	}
	@include media-query(desk) {
		margin-top: 97px;
	}
	@include media-query(desk-wide) {
		padding: 64px;
	}

	p {
		font-family: $maria;
		font-size: 3em;

		@include media-query(palm) {
			font-size: 2em;
		}
	}
}