.home {
	@include e(wrapper) {
		@extend %wrapper;
	}

    &.is-hidden {
        position: fixed;
        height: 100%;
        overflow: hidden;
    }
}

.home {
	background-color: $blue;

	@include e(header) {
        padding: 20% 3% 20% 3%;
        @include media-query(tabl) {
            padding: 10% 5% 10% 5%;
        }
        @include media-query(lap-and-up) {
            padding: 10% 7% 10% 7%;
        }

        p {
            color: $white;
            @include font-smooth();
        }
	}

	@include e(content) {
		padding: 4rem;
		background-color: $white;
	}
}