.home {
	padding: 4rem 1rem 1rem 1rem;
	background-color: $white;
	transition: all .3s $bezier;

	@include mq(tabl-and-up) {
		padding: 5rem 0 0 0;
		width: 90%;
		margin: 0 auto;
	}

	@include mq(lap) {
		width: 690px;
	}

	@include mq(desk) {
		width: 900px;
	}

	@include mq(desk-wide) {
		width: 1100px;
	}
}

.home > p {
	font-size: 1.15em;
	font-family: $times;
	line-height: 1.4;
	color: $black;

	em {
		font-family: $times;
	}

	a {
		font-family: $times;
		color: $black;
		text-decoration: none;
		border-bottom: 1px solid $black;
	}
	@include mq(tabl) {
		font-size: 1.25em;
	}
	@include mq(lap) {
		font-size: 1.5em;
	}
	@include mq(desk) {
		font-size: 1.8em;
	}
	@include mq(desk-wide) {
		font-size: 2.2em;
	}
}

.filter {
	margin: .5em 1em 0 0;
	padding: 0;
	font-size: .8em;
	font-family: $maria;
	border: none;
	background-color: transparent;
	cursor: pointer;

	&.active {
		border-bottom: 2px solid $black;
	}

	@include mq(lap-and-up) {
		font-size: 1em;
	}
}

.project {
	@include e(container) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 2rem;
		padding-bottom: 3rem;

		@include mq(desk) {
			max-width: 720px;
			margin: 4rem auto 0;
			padding-bottom: 10rem;
		}
		@include mq(desk-wide) {
			max-width: 900px;
		}
	}
}

.project {
	display: none;
	@include e(half) {
		margin-bottom: 1.5em;
		@include mq(tabl-and-up) {
			max-width: 48%;
		}
		@include mq(desk) {
			margin-bottom: 2em;
		}
	}
	@include e(full) {
		max-width: 100%;
		margin-bottom: 1.5em;
		@include mq(desk) {
			margin-bottom: 2em;
		}
	}
}

.project__item--caption {
	margin-top: .25em;

	@incldue mq(desk) {
		font-size: 1.2em;
	}

	@include mq(desk-wide) {
		margin-top: .5em;
		font-size: 1.25em;
	}
}

.project__item--category {
	margin-right: .5em;
	font-size: .8em;
}

.project__item--title {
	color: $black;
	font-family: $times;
	text-decoration: none;
}
