.showcase {
	@include e(close) {
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;

		width: 30px;
		height: 30px;

		@include m(line) {
			&:after {
				position: absolute;
				top: 13px;
				display: block;
				transform: rotate(-45deg);
				width: 30px;
				height: 4px;
				background-color: $black;
				content: " ";
			}

			&:before {
				position: absolute;
				bottom: 0;
				margin-bottom: 13px;
				display: block;
				transform: rotate(45deg);
				width: 30px;
				height: 4px;
				background-color: $black;
				content: " ";
			}
			
		}
	}

	@include e(count) {
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 999;

		font-family: $maria;
	}

	@include e(slider) {
		position: absolute;
		left: 0;
	    top: 0;
	    right: 0;
	    bottom: 0; 

	    height: auto;
	    width: auto;

	    @include m(slide) {
	    	width: 100%;
	    	height: 100%;
	    }
	}

	@include e(image) {
		@include m(enclosed) {
			position: relative;
			max-width: 100%;
			max-height: 85%;
			width: auto;
			height: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			box-sizing: border-box;
			padding: 10px;
		}

		@include m(full) {
			position: relative;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;

			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;

		}

		@include m(text) {
			position: absolute;
			top: 50%;
		 	left: 50%;
			transform: translate(-50%, -50%);

			text-align: center;
		}
	}
}

.showcase {
	@include e(info) {
		position: fixed;
		z-index: 999;
		left: 0;
		bottom: 0;
	}
}

@keyframes swing {
	20% {
		transform: rotate3d(0, 0, 1, 15deg);
	}
	40% {
		transform: rotate3d(0, 0, 1, -10deg);
	}
	60% {
		transform: rotate3d(0, 0, 1, 5deg);
	}
	80% {
		transform: rotate3d(0, 0, 1, -5deg);
	}
	100% {
		transform: rotate3d(0, 0, 1, 0deg);
	}
}

.swing {
	transform-origin: center center;
	animation-duration: 500ms;
	animation-name: swing;
}

.button {
	position: absolute;
	top: 50%;
 	left: 50%;
	transform: translate(-50%, -50%);
}