.showcase {
	@include e(close) {
		position: fixed;
		z-index: 9999999;
		top: .6rem;
		right: .6rem;

		width: 30px;
		height: 30px;
		cursor: pointer;

		@include m(line) {
			&:after {
				position: absolute;
				top: 14px;
				display: block;
				transform: rotate(-45deg);
				width: 30px;
				height: 3px;
				background-color: $black;
				content: " ";
			}

			&:before {
				position: absolute;
				bottom: 0;
				margin-bottom: 13px;
				display: block;
				transform: rotate(45deg);
				width: 30px;
				height: 3px;
				background-color: $black;
				content: " ";
			}
			
		}
	}

	@include e(count) {
		position: fixed;
		bottom: .6rem;
		right: .6rem;
		z-index: 999;

		font-family: $maria;
	}

	@include e(slider) {
		position: absolute;
		left: 0;
	    top: 0;
	    right: 0;
	    bottom: 0; 

	    height: auto;
	    width: auto;

	    @include m(slide) {
	    	width: 100%;
	    	height: 100%;
	    }
	}

	@include e(image) {
		@include m(enclosed) {
			position: relative;
			max-width: 100%;
			max-height: 85%;
			width: auto;
			height: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			box-sizing: border-box;
			padding: 1rem;
		}

		@include m(full) {
			position: relative;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;

			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;

		}

		@include m(text) {
			position: absolute;
			top: 50%;
		 	left: 50%;
			transform: translate(-50%, -50%);

			text-align: center;
		}
	}
}

.showcase {
	@include e(info) {
		display: none;
		position: fixed;
		z-index: 999;
		left: .6rem;
		bottom: .6rem;

		@include mq(tabl-and-up) {
			display: block;
		}
	}
}

.showcase {
	@include e(info) {
		@include m(title) {
			margin-right: 1rem;
		}
		@include m(more) {
			border: none;
			background-color: transparent;
			font-size: 1em;
			font-family: $maria;
			cursor: pointer;
		}
	}
}

@keyframes swing {
	20% {
		transform: rotate3d(0, 0, 1, 15deg);
	}
	40% {
		transform: rotate3d(0, 0, 1, -10deg);
	}
	60% {
		transform: rotate3d(0, 0, 1, 5deg);
	}
	80% {
		transform: rotate3d(0, 0, 1, -5deg);
	}
	100% {
		transform: rotate3d(0, 0, 1, 0deg);
	}
}

.swing {
	transform-origin: center center;
	animation-duration: 500ms;
	animation-name: swing;
}

.button {
	position: absolute;
	top: 50%;
 	left: 50%;
	transform: translate(-50%, -50%);
}

.project-information {
	position: absolute;
	left: -100%;
	z-index: 8;
	padding: 4rem 1rem 1rem 1rem;
	box-sizing: border-box;

	width: 100%;
	height: 100%;
	// width: 70%;

	color: $white;
	background-color: $grey-dark;
	transition: left 0.5s $bezier;

	&.visible {
		left: 0;
	}
}

.project-information {
	@include e(title) {
		width: 100%;
		margin-bottom: 1rem;
	}
}

.project-information {
	@include e(content) {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-strech;

		h4 {
			width: 20%;
		}
		p {
			width: 80%;
			margin-bottom: 1rem;
		}
		blockquote {
			width: 100%;

			p {
				width: 100%;
			}
		}
	}
}