.projects {
	margin-top: 65px;
	padding: 16px;
	@include media-query(tabl-and-up) {
		padding: 32px;
	}
	@include media-query(desk) {
		margin-top: 97px;
		padding: 32px;
	}
	@include media-query(desk-wide) {
		padding: 32px 64px;
	}

	@include e(index) {
		text-align: justify;
		&:after {
			content: " ";
			display: inline-block;
			width: 100%; 
			height: 0;
		}
	}

	figure {
		display: inline-block;
		width: 100%;
		margin: 0 0 1rem 0;

		@include media-query(tabl-and-up) {
			width: calc(50% - .5rem);
			margin-right: -4px;
		}

		@include media-query(desk) {
			width: calc(33% - .5rem);
			margin-right: -4px;
		}

		@include media-query(desk-wide) {
			width: calc(25% - 1rem);
			margin-right: -4px;
		}

		a {
			text-decoration: none;
		}

		img {
			width: 100%;
			height: 0;
			padding-top: 70%;
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			transition: background-size 1s ease-in;
			&:hover {
				background-size: 150%;
			}
		}

		figcaption {
			color: $black;
			font-family: $maria;
			text-align: center;
			line-height: 2;
		}
	}
}