.showcase {
	@include e(close) {
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;

		width: 30px;
		height: 30px;

		@include m(line) {
			&:after {
				position: absolute;
				top: 13px;
				display: block;
				transform: rotate(-45deg);
				width: 30px;
				height: 4px;
				background-color: $black;
				content: " ";
			}

			&:before {
				position: absolute;
				bottom: 0;
				margin-bottom: 13px;
				display: block;
				transform: rotate(45deg);
				width: 30px;
				height: 4px;
				background-color: $black;
				content: " ";
			}
			
		}
	}

	@include e(count) {
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 1;

		font-family: $maria;

		@include media-query(palm) {
			font-size: small;
		}
	}

	@include e(slider) {
		position: absolute;
		left: 0;
	    top: 0;
	    right: 0;
	    bottom: 0; 

	    height: auto;
	    width: auto;

	    @include m(slide) {
	    	width: 100%;
	    	height: 100%;
	    }
	}

	@include e(image) {
		@include m(enclosed) {
			position: relative;
			max-width: 100%;
			max-height: 85%;
			width: auto;
			height: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			box-sizing: border-box;
			padding: 10px;
		}

		@include m(full) {
			position: relative;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;

			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;

		}

		@include m(text) {
			position: absolute;
			top: 50%;
		 	left: 50%;
			transform: translate(-50%, -50%);

			opacity: 0;
			transition: opacity 1s ease-in;
			text-align: center;

			width: calc(100% - 40px);
			@include media-query(tabl) {
				max-width: 70%;
			}
			@include media-query(lap) {
				max-width: 70%;
			}
			@include media-query(desk) {
				max-width: 60%;
			}
			@include media-query(desk-wide) {
				max-width: 60%;
			}

			font-size: 1.25em;
			@include media-query(tabl) {
				font-size: 1.5em;
			}
			@include media-query(lap) {
				font-size: 1.75em;
			}
			@include media-query(desk) {
				font-size: 2em;
			}
			@include media-query(desk-wide) {
				font-size: 2.5em;
			}

			h1, h2, h3 {
				font-size: 1.25em;
				line-height: 1.1;

				margin: 0 0 0.5rem 0;
				@include media-query(lap-and-up) {
					margin-bottom: 0.75rem;
				}
			}

			p {
				margin: 0;
				line-height: 1.3;
			}

			&.ready {
				opacity: 1;
			}
		}
	}
}

.showcase {
	@include e(info) {
		position: fixed;
		left: 0;
		bottom: 0;
	}
}