main {
	&.fixed {
		position: fixed;
	}
}

.splash {
	position: fixed;
	z-index: 999999999999;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 1;
	transition: all 1s $bezier;

	@include e(text) {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&.hide {
		opacity: 0;
		z-index: -9999;
	}
}

.overlay {
	display: none;
	position: absolute;
	z-index: 8;
	width: 100%;
	height: 100%;

	&.active {
		display: block;
	}
}

.close {
	@include e(side-elements) {
		position: absolute;
		display: none;
		z-index: 9999;
		top: .6rem;
		right: .6rem;

		@include mq(tabl) {
			top: 1.6rem;
			right: 5%;
		}

		width: 30px;
		height: 30px;
		cursor: pointer;

		@include m(line) {
			&:after {
				position: absolute;
				top: 14px;
				display: block;
				transform: rotate(-45deg);
				width: 30px;
				height: 3px;
				background-color: $white;
				content: " ";
			}

			&:before {
				position: absolute;
				bottom: 0;
				margin-bottom: 13px;
				display: block;
				transform: rotate(45deg);
				width: 30px;
				height: 3px;
				background-color: $white;
				content: " ";
			}
		}

		&.active {
			display: block;
		}

		@include mq(lap-and-up){
			visibility: hidden;
		}
	}
}

button {
	&.active {
		border-bottom-color: $white;
	}
}

.header__button {
	visibility: hidden;
	pointer-events: none;

	@include mq(tabl-and-up) {
		visibility: visible;
		pointer-events: auto;
	}
}