.header {
	@include e(menu) {
		height: 62px;
		width: calc(30px + 16px);
		@include media-query(tabl-and-up) {
			width: calc(30px + 32px);
		}
		@include media-query(desk) {
			height: 94px;
		}
		@include media-query(desk-wide) {
			height: 94px;
			width: calc(30px + 64px);
		}
		position: fixed;
		right: 0;
		top: 0;
		cursor: pointer;

		@include m(line) {
			display: block;
			width: 30px;
			height: 4px;
			background-color: $black;

			position: relative;
			top: 50%;
			transform: translateY(-50%);

			&:after {
		        position: absolute;
		        top: -10px;
		        left: 0;
		        width: 30px;
		        height: 4px;
		        background-color: $black;
		        content: " ";
		    }

		    &:before {
		        position: absolute;
		        left: 0;
		        top: 10px;
		        width: 30px;
		        height: 4px;
		        background-color: $black;
		        content: " ";
		    }
		}

		&.is-open {
			z-index: 1;

			span {
				background-color: $white;
				&:after {
					top: 0;
					transform: rotate(-45deg);
				}
				&:before {
					top: 0;
					transform: rotate(45deg);
				}
			}
		}
	}
}