footer {
	width: 100%;
	box-sizing: border-box;
	margin-top: 5rem;
	padding: 16px;
	@include media-query(tabl-and-up) {
		padding: 32px;
	}
	@include media-query(desk) {
		padding: 32px;
	}
	@include media-query(desk-wide) {
		padding: 32px 64px
	}
	background-color: $rich-black;
	font-family: $maria;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.footer {
	@include e(brand) {
		overflow: hidden;
		margin-bottom: 2.6rem;
		h2 {
			color: $white;
			@include media-query(lap-and-up) {
				width: 30%;
				float: left;
			}
		}
		p {
			color: $white;
			font-family: $times;
			margin-bottom: 0;
			@include media-query(lap-and-up) {
				width: 70%;
				float: left;
				padding-left: 1rem;
				box-sizing: border-box;
			}
			@include media-query(tabl) {
				font-size: 18px;
			}
			@include media-query(lap) {
				font-size: 20px;
			}
			@include media-query(desk) {
				font-size: 24px;
			}
			@include media-query(desk-wide) {
				font-size: 32px;
			}
		}
	}
}

.footer {
	@include e(address) {
		overflow: hidden;
		margin-bottom: 2.6rem;
		h3 {
			color: $white;
			margin-bottom: .25rem;
		}
		p {
			color: $white;
			font-family: $times;
			margin-bottom: 0;
			@include media-query(lap) {
				font-size: 18px;
			}
			@include media-query(desk) {
				font-size: 20px;
			}
			@include media-query(desk-wide) {
				font-size: 24px;
			}
		}
		@include media-query(lap-and-up) {
			width: 30%;
			float: left;
		}
	}
}

.footer {
	@include e(contact) {
		overflow: hidden;
		margin-bottom: 1.3rem;
		h3 {
			color: $white;
			margin-bottom: .25rem;
			clear: both;
		}
		p {
			color: $white;
			font-family: $times;
			float: left;
			@include media-query(tabl) {
				font-size: 18px;
			}
			@include media-query(lap) {
				font-size: 20px;
			}
			@include media-query(desk) {
				font-size: 24px;
			}
			@include media-query(desk-wide) {
				font-size: 32px;
			}
		}
		a {
			display: inline-block;
			font-family: $times;
			color: $white;
			text-decoration: none;
			border-bottom: 1px solid $white;
			margin-bottom: 2.6rem;
			@include media-query(tabl) {
				font-size: 18px;
			}
			@include media-query(lap) {
				font-size: 20px;
			}
			@include media-query(desk) {
				font-size: 24px;
			}
			@include media-query(desk-wide) {
				font-size: 32px;
			}

			&:hover {
				animation-name: blinkwhiteborder;
			}
		}
		@include media-query(lap-and-up) {
			width: 70%;
			float: left;
			margin-bottom: 2.6rem;
			padding-left: 1rem;
			box-sizing: border-box;
		}
	}
}

.footer {
	@include e(credit) {
		clear: both;
		overflow: hidden;
		border-top: 3px solid $white;
		padding-top: 1.3rem;
		p {
			color: $white;
			margin-bottom: 0;
		}
		p:first-of-type {
			margin-bottom: .5rem;
		}
		@include media-query(lap-and-up) {
			padding-top: 2.6rem;
			p:first-of-type {
				float: left;
			}
			p:last-of-type {
				float: right;
			}
		}
	}
}