//============================================
// Header
//============================================

.logo
  padding: 12% 0 calc(12% - 14px) 0
  +mq($bp-md)
    padding: 10% 0 calc(10% - 14px) 0
  +mq($bp-lg)
    padding: 8% 0 calc(8% - 14px) 0