//============================================
// Header
//============================================

.logo
  padding: 12% 0 calc(12% - 14px) 0
  +mq($bp-md)
    padding: 10% 0 calc(10% - 14px) 0

.header-secondary
  position: absolute
  z-index: 1
  width: 100%

.bg-white
  .header-secondary
    color: $black