//============================================
// News
//============================================

.news
  display: flex
  position: relative
  overflow: hidden
  height: 42px
  +mq($bp-sm)
    height: 50px
  +mq($bp-lg)
    height: 60px

.news_inner
  +pos(0 0, top left)
  padding: $space-quarter $space*2 $space-quarter 0
  min-width: 50%
  white-space: nowrap
  animation: marquee 7s linear infinite
  text-align: center
  +mq($bp-sm)
    padding-top: 9px
    font-size: $fs*1.25
    animation: marquee 5s linear infinite
  +mq($bp-lg)
    padding-top: 11px
    font-size: $fs*1.5

.news_inner
  &:before
    left: 100%
  &:after
    left: 200%
  &:after,
  &:before
    position: absolute
    content: attr(data-text)
    top: 0
    width: 100%
    padding: $space-quarter $space*2 $space-quarter 0
    +mq($bp-sm)
      padding-top: 9px
    +mq($bp-lg)
      padding-top: 11px

.news_inner:hover
  animation-play-state: paused

@keyframes marquee
  0%
    transform: translateX(0)
  100%
    transform: translateX(-100%)


// Tag
//============================================

.news_tag
  position: absolute
  z-index: $z-tag
  top: 0
  right: 0
  padding-right: $space-half
  text-transform: uppercase
  height: 100%
  padding-top: 8px
  +mq($bp-sm)
    padding-right: $space
    padding-top: 9px
    font-size: $fs*1.25
  +mq($bp-lg)
    padding-top: 11px
    font-size: $fs*1.5
  