//============================================
// News
//============================================

.news
  position: relative
  overflow: hidden

.news_inner
  animation: marquee 10s linear infinite
  white-space: nowrap

  +mq($bp-md)
    animation-duration: 15s

.news_inner:hover
  animation-play-state: paused

@keyframes marquee
  0%
    transform: translateX(0)
  100%
    transform: translateX(-100%)

.news_tag
  position: absolute
  z-index: $z-tag
  top: 0
  right: 0
  padding-right: $space-half
  text-transform: uppercase
  height: 100%
  padding-top: 8px
  &:after
    content: " "
    position: absolute
    z-index: $z-tag
    top: 0
    left: 0
    margin-left: - $space * 2
    width: $space * 2
    height: 100%
    +mq($bp-md)
      margin-left: - $space * 4
      width: $space * 4
  +mq($bp-md)
    padding-right: $space
    padding-top: 9px
    font-size: $fs * 1.5
  +mq($bp-lg)
    padding-top: 11px
    font-size: $fs * 2

.news_text
  width: 50%
  text-align: center
  padding-left: $space * 2
  left: 0
  top: 0
  white-space: nowrap
  &:after,
  &:before
    content: attr(data-text)
    top: 0
    width: 100%
    white-space: nowrap
  &:before
    left: 100%
    padding-right: $space * 2
  &:after
    left: 200%
    padding-left: $space * 2 
  +mq($bp-md)
    font-size: $fs * 1.5
  +mq($bp-lg)
    font-size: $fs * 2
    
.news-green
  .news_tag
    background-color: $green
    &:after
     background: linear-gradient(-90deg, $green, rgba($green, 0))

.news-red
  .news_tag
    background-color: $red
    &:after
      background: linear-gradient(-90deg, $red, rgba($red, 0))
  