.slider
  position: absolute
  width: 100%
  height: 100%
  background-color: $black

.rsDefault .rsOverflow, 
.rsDefault .rsSlide, 
.rsDefault .rsVideoFrameHolder, 
.rsDefault .rsThumbs
  background-color: $black

.project_figure
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.project_count,
.project_close
  float: right

.project_close
  margin-left: $space
