//============================================
// Module
//============================================

p > a:hover
  border-bottom-color: transparent

.bg-blue
  background-color: $primary

.bg-black
  background-color: $black

.bg-red
  background-color: $red

.bg-white
  background-color: $white

.text-black
  color: $black

.text-white
  color: $white

.splash
  background-color: $black
  position: fixed
  z-index: 999
  top: 0
  right: 0
  bottom: 0
  left: 0

.page-error
  position: absolute
  width: 100%
  height: 100%
  background-size: contain
  background-position: center
  background-repeat: no-repeat